APPHOMEDIR=/opt/app
USERNAME=movies
USER_UID=1001
USER_GID=1001

POSTGRES_PASSWORD=123qwe
POSTGRES_USER=app
POSTGRES_DB=notify_database

# Отправляется в headers апи-запросов
# Этот ключ знают только сервис-отправитель и сервис-получатель
# Для корректного тестирования пароль и алгоритм должны быть такими же, как и в app/.env.example
SECRET_API_KEY=e522633bc7f1ef314aaeea7ac3f45e3f
JWT_SECRET_KEY=123qwe
JWT_ALGORITHMS=HS256

DB_HOST='test-postgres'
DB_PORT=5432
DB_NAME=notify_database
DB_USER=app
DB_PASSWORD=123qwe
DB_DSN="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"

STATICROOT=/var/www/static/